In [2]:
import pandas as pd
import os, glob, re, json

In [2]:
df = pd.DataFrame(columns=["Id","Name","DateOfBirth","Age","Identifier","StudentYears","IsHealthy","LastBVMTRTestIndex","Male"])

In [3]:
s1 = pd.read_json("15_Kovacs/info.json", orient="index")
st1 = s1.T

s2 = pd.read_json("14_Farkas/info.json", orient="index")
st2 = s2.T

s3 = pd.read_json("13_Koszo/info.json", orient="index")
st3 = s3.T

df = pd.concat([st1, st2, st3, df])
df

,Id,Name,DateOfBirth,Age,Identifier,StudentYears,IsHealthy,LastBVMTRTestIndex,Male
0,15,Kovács Ernő Jánosné,1951-11-01T00:00:00,71,065667628,12,False,None,False
0,14,Farkas Nikolett,1994-03-24T00:00:00,28,108109124,17,False,1,False
0,13,Kószó Anna Sári,1962-07-10T00:00:00,60,073555687,15,False,None,False

In [31]:
df2 = pd.read_excel("bicams.xlsx")
df2

,ID,Name,DOB,Age,TAJ,male,CVLT_fin,RT_avg,RVP_avg,SDMT,BVMT_avg,test_date
0,MS13,Kószó Anna Sári,1962-07-10,60,73555687,0,75.0,544.987,NaN,23.0,11.67,2022-03-16
1,MS14,Farkas Nikolett,1994-03-24,28,108109124,0,73.0,220.488,306.129,32.0,10.33,2022-03-16
2,MS15,Kovács Ernő Jánosné,1951-11-01,71,65667628,0,NaN,NaN,NaN,NaN,NaN,2022-03-16

------------------------------------------------------------------------------
------------------------------------------------------------------------------

In [63]:
columns = [
    "Id",
    "Name",
    "DateOfBirth",
    "Age",
    "Identifier",
    "StudentYears",
    "Male",
    "CVLT_fin",
    "RT_avg",
    "RVP_avg",
    "SDMT",
    "BVMT_avg",
    "Test_date"
]

df3 = pd.DataFrame(columns=columns)
df3

Empty DataFrame
Columns: [Id, Name, DateOfBirth, Age, Identifier, StudentYears, Male, CVLT_fin, RT_avg, RVP_avg, SDMT, BVMT_avg, Test_date]
Index: []

In [64]:
p1 = pd.read_json("13_Koszo/info.json", orient="index")

df3 = df3.append(p1.T, ignore_index=True)

In [65]:
p2 = pd.read_json("14_Farkas/info.json", orient="index")
df3 = df3.append(p2.T, ignore_index=True)

In [18]:
df3 = pd.read_excel("df3.xlsx")
for i in df3["Identifier"]:
    print(i)

73555687
108109124

In [82]:
pl = pd.read_excel("df3.xlsx")
p3 = pd.read_json("15_Kovacs/info.json", orient="index")
pl = pl.append(p3.T, ignore_index=True)
pl.pop("Unnamed: 0")
pl.to_excel("df3.xlsx")

In [3]:
path = os.getcwd()
patient_dirs = next(os.walk(path))[1]
patient_dirs

['13_Koszo', '15_Kovacs', '14_Farkas']

In [36]:
df = pd.read_excel("/Users/szabi/Desktop/bicams/df3.xlsx", dtype="object")
df
# identifiers = [i for i in df["Identifier"]]
# identifiers

,Unnamed: 0,Id,Name,DateOfBirth,Age,Identifier,StudentYears,Male,CVLT_fin,RT_avg,RVP_avg,SDMT,BVMT_avg,Test_date,IsHealthy,LastBVMTRTestIndex
0,0,13,Kószó Anna Sári,1962-07-10T00:00:00,60,073555687,15,False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
1,1,14,Farkas Nikolett,1994-03-24T00:00:00,28,108109124,17,False,NaN,NaN,NaN,NaN,NaN,NaN,False,1

In [4]:
# Hozzáadja az új beteget az excelhez, ha még nincs benne

df = pd.read_excel("df3.xlsx", dtype="object")
df.pop("Unnamed: 0")
identifiers = [str(i) for i in df["Identifier"]]
patient_dirs = [ name for name in os.listdir(path) if os.path.isdir(os.path.join(path, name)) ]
for dir in patient_dirs:
    patient = pd.read_json(f"{dir}/info.json", orient="index").T
    name = patient["Name"][0]
    ident = patient["Identifier"][0]
    if not ident in identifiers:
        # print(f"{name}, {ident}")
        df = df.append(patient, ignore_index=True)

df.to_excel("df3.xlsx")

In [226]:
# df = pd.read_excel("df3.xlsx", dtype="object")
# df.pop("Unnamed: 0")
# identifiers = [str(i) for i in df["Identifier"]]
# patient_dirs = [ name for name in os.listdir(path) if os.path.isdir(os.path.join(path, name)) ]
# for dir in patient_dirs:
#     patient = pd.read_json(f"{dir}/info.json", orient="index").T
#     name = patient["Name"][0]
#     ident = str(patient["Identifier"][0])
#     if not ident in identifiers:
#         # print(f"{name}, {ident}")
#         df = df.append(patient, ignore_index=True)

# Kiszedi minden beteg tesztadatait, és hozzáadja az excelhez
# appendix = pd.DataFrame(columns=['Identifier', 'CVLT_fin', 'RVP_avg', 'RT_avg', 'SDMT'])
path = os.getcwd()
if not os.path.exists('bicams.xlsx'):
    bicams_df = pd.DataFrame(columns=['Identifier', 'Name'])

try:
    bicams_df = pd.read_excel('/Users/szabi/Desktop/bicams/bicams.xlsx', dtype='object')
    bicams_df.pop('Unnamed: 0')
except FileNotFoundError:
    pass

identifiers = [str(i) for i in bicams_df["Identifier"]]
patient_dirs = [ name for name in os.listdir(path) if os.path.isdir(os.path.join(path, name)) ]
tests = ['CVLT-II', 'RVP', 'RT', 'SDMT']
for dir in patient_dirs:
    patient = pd.read_json(f"{dir}/info.json", orient="index").T
    ident = patient["Identifier"][0]
    name = patient["Name"][0]
    dob = patient['DateOfBirth'][0]
    age = patient['Age'][0]
    stud_yrs = patient['StudentYears'][0]
    male = patient['Male'][0]
    if not ident in identifiers:
        for test in tests:
            test_data = glob.glob(f"{dir}/Tests/{test}/1/*.json")
            if test_data:   # if it's not an empty list
                for test_fil in test_data:
                    # print(test_fil)
                    # data = pd.read_json(test_fil, lines=True, orient="index")
                    with open(test_fil) as jsonFile:
                        jsonObject = json.load(jsonFile)
                        jsonObject["Identifier"] = ident        # adds Identifier to patient json (not to testData.json!)
                    # print(jsonObject["PatientId"])
                    # print(jsonObject["Identifier"])
                    # df = df.append(jsonObject, ignore_index=True)
                    # print(jsonObject)
                    if test == 'CVLT-II':
                        cvlt_score = jsonObject['FinalScore']
                        p_id = jsonObject['Identifier']
                        test_dt = jsonObject['CreateDate']
                        # print(f"CVLT_fin: {cvlt_score}, {p_id}")
                        # cvlt = {'CVLT_fin':[cvlt_score], 'Identifier':p_id}
                        # cvlt_df = pd.DataFrame(data=[cvlt_score], index=[p_id], columns=['CVLT_fin'])
                        # appendix = appendix.append({'Identifier':p_id, 'CVLT_fin':cvlt_score}, ignore_index=True)
                    elif test == 'RVP':
                        rvp_res = jsonObject['Results']
                        p_id = jsonObject['Identifier']
                        if rvp_res:
                            rvp_score = sum(rvp_res)/len(rvp_res)
                            # print(f"RVP_avg: {rvp_score}, {p_id}")
                            # rvp = {'RVP_avg':[rvp_score], 'Identifier':p_id}
                            # rvp_df = pd.DataFrame(data=[rvp_score], index=[p_id], columns=['RVP_avg'])
                            # appendix = appendix.append({'Identifier':p_id, 'RVP_avg':rvp_score}, ignore_index=True)
                    elif test == 'RT':
                        rt_res = jsonObject['Results']
                        p_id = jsonObject['Identifier']
                        if rt_res:
                            rt_score = sum(rt_res)/len(rt_res)
                            # print(f"RT_avg: {rt_score}, {p_id}")
                            # rt = {'RT_avg':[rt_score], 'Identifier':p_id}
                            # rt_df = pd.DataFrame(data=[rt_score], index=[p_id], columns=['RT_avg'])
                            # appendix = appendix.append({'Identifier':p_id, 'RT_avg':rt_score}, ignore_index=True)
                    else:
                        sdmt_score = jsonObject['Result']
                        p_id = jsonObject['Identifier']
                        # print(f"SDMT: {sdmt_score}, {p_id}")
                        # sdmt = {'SDMT':[sdmt_score], 'Identifier':p_id}
                        # sdmt_df = pd.DataFrame(data=[sdmt_score], index=[p_id], columns=['SDMT'])
                        # appendix = appendix.append({'Identifier':p_id, 'SDMT':sdmt_score}, ignore_index=True)
                    bicams_df = bicams_df.append({'Name':name, 'Age':age, 'DateOfBirth':dob, 'Identifier':p_id, 'StudentYears':stud_yrs, 'Male':male, 'TestDate':test_dt, 'CVLT_fin':cvlt_score, 'RVP_avg':rvp_score, 'RT_avg':rt_score, 'SDMT':sdmt_score,}, ignore_index=True).drop_duplicates(subset=['Identifier'])
                    
bicams_df.to_excel('bicams.xlsx')

In [227]:
l = pd.read_excel('bicams.xlsx')
l.pop('Unnamed: 0')
l

,Identifier,Name,Age,CVLT_fin,DateOfBirth,Male,RT_avg,RVP_avg,SDMT,StudentYears,TestDate
0,73555687,Kószó Anna Sári,60,75,1962-07-10T00:00:00,0,544.986895,306.128571,23,15,2022-03-16T00:00:00+01:00
1,108109124,Farkas Nikolett,28,73,1994-03-24T00:00:00,0,544.986895,306.128571,23,17,2022-03-16T00:00:00+01:00

In [219]:
os.path.exists('bicams.xlsx')

True